.panel-box-container .ant-card-head{
    font-weight: bold;
    font-size: 17px;
}
.row-content-button .ant-btn{
    width: 40%;
    border-radius: 4px;
}
.form-item-col .ant-form-item-label > label {
    color: #808080;
    font-size: 14px;
    font-weight: bold;
}
/* .row-content{
    padding-bottom: 15px;
} */
.form-item-col .ant-input {
    background-color: rgb(236, 236, 236);
}
.panel-box-container .ant-form-inline .ant-form-item-with-help {
    margin-bottom: 0;
}
.panel-box-container .row-content {
    height: 130px;
}
.panel-box-container .row-content-button {
    margin-bottom: 10px;
}
.row-content .ant-switch{
    margin-bottom: 10px;
}
/* .row-content .ant-col{
    padding: 10px;
} */
