.create-message{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 10px;
    color: #52c41a;
}
.btn-container .ant-form-item-control{
    flex-direction: row-reverse;
}
.clipboard-btn{
    /* margin-left: 20px; */
    padding: 4px 12px;
    background-color: #eee;
}
.clipboard-btn:hover{
    background-color: #e6f7ff;
}
.alert{
    text-align: center;
    font-size: 15px;
}
.container-items-info{
    margin: 0 50px;
}
.items-info{
    padding-right: 10px;
}
