.login-row{
    height: 100%;
    background-color: #eee;
}
.login-form {
    padding: 60px;
    background: #fff;
    border-radius: 6px;
}
.section-logo{
    display: flex;
    align-items: center;
}
.logo {
    width: 80%;
    margin: 0 auto 80px;
}
.login-form-button {
    width: 100%;
}
