.menuItem {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72px !important;
  padding: 0 !important;
}
.menuItem > span {
  opacity: 1 !important;
  font-size: 11px;
  color: #ffffff;
  line-height: 15px;
  margin-left: 0 !important;
  margin-top: 8px;
}

.menu {
  height: 100%;
  overflow: auto;
  background-color: #365c64;
  position: relative;
  z-index: 10;
  .ant-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 68px;

    .ant-menu-title-content {
      opacity: 1 !important;
      font-size: 11px;
      margin-left: 0 !important;

      display: flex !important;
      height: 22px;
      align-items: center;
      justify-content: center;
    }
  }
}
