.cardTitle {
  margin-bottom: 4px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #172326;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 8px;
  font-weight: 900;
}
.cardBody {
  width: 100%;
}

.ant-card-body {
  width: 100%;
}

.ant-card {
  border-radius: 8px;
}
