.workspace-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .workspace-item {
    background-color: #568793;
    padding: 8px 16px;
    color: #fff;
    min-height: 40px;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      background-color: #365c64;
    }
  }
}
