#root > .ant-layout {
  height: 100vh;
  overflow: hidden;
}

.bread_crumb_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  min-height: 64px;
  padding-left: 32px;
  padding-right: 32px;

  position: relative;
  z-index: 9;
}
.site-layout-background {
  max-height: calc(100%);
  overflow: hidden;
}
.ant_content {
  padding: 16px;
  overflow: auto;
  position: relative;
  background-color: #f5f5f5;
  max-height: calc(100%);
}
.content {
  padding: 16px;
  overflow: auto;
  position: relative;
  background-color: #f5f5f5;
  max-height: calc(100%);
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.userMenuWrapper {
  width: 22px;
  height: 22px;

  svg {
    width: 22px;
    height: 22px;
    fill: #568793;
  }
}

@media all and (max-width: 768px) {
  .logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 75px;
  }
  .header {
    display: flex;
    align-items: center;
    position: relative;
    button {
      margin-right: 20px;
      margin-bottom: 0 !important;
      position: absolute;
      left: 15px;
    }
  }
}
