.auth-container {
  width: 100%;
  height: calc(100vh - 174px);
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    box-shadow: 0 0 4px darkgray;
    border-radius: 4px;
    padding: 20px;
  }
}
